fastapi==0.135.2
anyio==4.6.2.post1
starlette==0.48.0
uvicorn[standard]==0.38.0

SQLAlchemy==2.0.43
psycopg2-binary==2.9.11
alembic==1.13.2

pydantic==2.12.2
pydantic-settings==2.11.0
email-validator==2.2.0

python-jose==3.5.0
python-multipart==0.0.20
python-dotenv==1.1.1
itsdangerous==2.2.0

passlib[bcrypt]==1.7.4
bcrypt==4.0.1
pyotp==2.9.0

websockets==15.0.1

pytest==8.3.4
httpx==0.28.1

requests==2.32.3